{{ block "addAuthorModal" . }}
<div class="modal-dialog modal-dialog-centered">
	<div class="modal-content">
		<form hx-post="/ui/bookID/add/author" hx-target="#toastContainer">
			<div class="modal-header">
			<h5 class="modal-title">Add Author</h5>
			</div>
			<div class="modal-body">
				<div id="newAuthor" class="col py-3">
					<div class="mb-3">
						<label for="authorSearchInput" class="form-label" placeholder="Search for authors...">Search for Authors</label>
						<input 
							class="form-control" 
							list="modalAuthorDatalistOptions" 
							id="modalAuthorNameInput" 
							name="modalAuthorNameInput"
							placeholder="Type to search..."
							hx-post="/ui/search/authors/addAuthorModal"
							hx-trigger="input changed delay:500ms, search"
							hx-target="#modalAuthorDatalistOptions">
						</input>
						<input
							type="hidden"
							id="modalAuthorIdInput"
							name="modalAuthorIdInput">
						</input>
						<datalist id="modalAuthorDatalistOptions">
						</datalist>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
				<button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Add</button>
			</div>
		</form>
	</div>

    <script>
        document.getElementById('modalAuthorNameInput').addEventListener('input', function() {
            var input = this;
            var list = document.getElementById('modalAuthorDatalistOptions');
            var options = list.options;
            var hiddenInput = document.getElementById('modalAuthorIdInput');

            for (var i = 0; i < options.length; i++) {
                if (options[i].value === input.value) {
                    hiddenInput.value = options[i].getAttribute('author-id');
                    break;
                }
            }
        });
    </script>
</div>
{{ end }}
