{{ block "currentlyreading" . }}
<div class="card mb-2 mt-2">
	<div class="card-body">
		<h5 class="card-title">The Origins of Totalitarianism</h5>
		<h6 class="card-subtitle mb-2 text-muted">Hannah Arendt</h6>
		<div class="progress" style="height: 3px;">
			<div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
		<a href="#" class="card-link">Placeholder Link</a>
	</div>
</div>
<div class="card mb-2">
	<div class="card-body">
		<h5 class="card-title">100 Go Mistakes and How to Avoid Them</h5>
		<h6 class="card-subtitle mb-2 text-muted">Talva Harsanyi</h6>
		<div class="progress" style="height: 3px;">
			<div class="progress-bar" role="progressbar" style="width: 33%;" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
		<a href="#" class="card-link">Placeholder Link</a>
	</div>
</div>
<div class="card mb-2">
	<div class="card-body">
		<h5 class="card-title">Deadhouse Gates</h5>
		<h6 class="card-subtitle mb-2 text-muted">Steven Erikson</h6>
		<div class="progress" style="height: 3px;">
			<div class="progress-bar" role="progressbar" style="width: 66%;" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
		<a href="#" class="card-link">Placeholder Link</a>
	</div>
</div>
{{ end }}
