{{ block "finishedreading" . }}
<table class="table table-sm">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Title</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">99</th>
			<td>Assassin's Apprentice</td>
		</tr>
		<tr>
			<th scope="row">98</th>
			<td>Abyssal Archive: The Mythology of Dark Souls</td>
		</tr>
		<tr>
			<th scope="row">97</th>
			<td>The Pragmatic Programmer: From Journeyman to Master</td>
		</tr>
	</tbody>
</table>
{{ end }}
