{{ block "librarybooklisting" . }}
<div id="bookList">
	{{ range .MyLibraryBooks }}
	<div class="row">
		<div class="card mb-3">
			<div class="card-body">
				<div class="row">
					<div class="col">
						<h5 class="card-title">{{ .Title }}</h5>
					</div>
					<div class="col">
						<div class="row justify-content-end">
							<div class="col-4">
								<select class="form-select form-select-sm" aria-label="Small select example">
								  <option selected="1">Want to Read</option>
								  <option value="2">Read</option>
								  <option value="3">Reading</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ range .Series }}
						<h6 class="card-title">{{ . }}</h6>
						{{ end }}
					</div>
					<div class="col">
						{{ range .Authors }}
						<h6 class="card-title">{{ . }}</h6>
						{{ end }}
					</div>
					<div class="col">
						<p class="card-text">Published: {{ .Published }}</p>
						<p class="card-text">Added: {{ .Added }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{ end }}
{{ end }}
