{{ block "librarybooklisting" . }}
<div id="bookList">
	{{ range .MyLibraryBooks }}
	<div class="row">
		<div class="card mb-3">
			<div class="card-body">
				<div class="row">
					<div class="col">
						<h5 class="card-title"><a hx-boost="true" hx-push-url="true"  href="/books/1">{{ .Title }}</a></h5>
					</div>
					<div class="col">
						<div class="row justify-content-end">
							<div class="col-4">
								<span class="badge text-bg-warning">Unkonwn</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ range .Series }}
						<h6 class="card-title"><a hx-boost="true" hx-push-url="true"  href="/series/{{ .ID }}">{{ .Name }}</a></h6>
						{{ end }}
					</div>
					<div class="col">
						{{ range .Authors }}
						<h6 class="card-title" ><a hx-boost="true" hx-push-url="true"  href="/authors/{{ .ID }}">{{ .Name }}</a></h6>
						{{ end }}
					</div>
					<div class="col">
						{{ if ne .Published nil }}
							<p class="card-text">Published: {{ humanDate .Published }}</p>
						{{ end }}
						{{ if ne .Published nil }}
							<p class="card-text">Added: {{ humanDate .CreatedAt }}</p>
						{{ end }}
					</div>
				</div>
			</div>
		</div>
	</div>
	{{ end }}
{{ end }}
