{{ block "librarybooklisting" . }}
<div class="row">
	<div class="card mb-3">
		<div class="card-body">
			<div class="row">
				<div class="col">
					<h5 class="card-title">Gardens of the Moon</h5>
				</div>
				<div class="col">
					<div class="row justify-content-end">
						<div class="col-4">
							<select class="form-select form-select-sm" aria-label="Small select example">
							  <option selected="1">Want to Read</option>
							  <option value="2">Read</option>
							  <option value="3">Reading</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<h6 class="card-title">Malazan: Book of the Fallen</h6>
				</div>
				<div class="col">
					<h6 class="card-title">Steven Erikson</h6>
				</div>
				<div class="col">
					<p class="card-text">Published: 2024-12-31</p>
					<p class="card-text">Added: 2024-12-31</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="card mb-3">
		<div class="card-body">
			<div class="row">
				<div class="col">
					<h5 class="card-title">Deadhouse Gates</h5>
				</div>
				<div class="col">
					<div class="row justify-content-end">
						<div class="col-4">
							<select class="form-select form-select-sm" aria-label="Small select example">
							  <option selected="1">Want to Read</option>
							  <option value="2">Read</option>
							  <option value="3">Reading</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<h6 class="card-title">Malazan: Book of the Fallen</h6>
				</div>
				<div class="col">
					<h6 class="card-title">Steven Erikson</h6>
				</div>
				<div class="col">
					<p class="card-text">Published: 2024-12-31</p>
					<p class="card-text">Added: 2024-12-31</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="card mb-3">
		<div class="card-body">
			<div class="row">
				<div class="col">
					<h5 class="card-title">The Final Empire</h5>
				</div>
				<div class="col">
					<div class="row justify-content-end">
						<div class="col-4">
							<select class="form-select form-select-sm" aria-label="Small select example">
							  <option selected="1">Want to Read</option>
							  <option value="2">Read</option>
							  <option value="3">Reading</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<h6 class="card-title">Mistborn</h6>
					<h6 class="card-title">Cosmere</h6>
				</div>
				<div class="col">
					<h6 class="card-title">Brandon Sanderson</h6>
				</div>
				<div class="col">
					<p class="card-text">Published: 2024-12-31</p>
					<p class="card-text">Added: 2024-12-31</p>
				</div>
			</div>
		</div>
	</div>
</div>

{{ end }}
