{{ block "content" . }}
<div class="row py-3">
	<div id="sideBar" class="col-4 pr-3">
		{{/* TODO: Handle actual profile pictures */}}
		<div id="profilePicture" class="row py-1">
			<div class="d-flex justify-content-center">
				<div class="spinner-border m-5" role="status">
					<span class="visually-hidden">Loading...</span>
				</div>
			</div>
		</div>
		<div class="d-grid gap-2 col-6 mx-auto">
			<button class="btn btn-primary" type="button" disabled>Read</button>
			<button class="btn btn-primary" type="button" disabled>Review</button>
		</div>
		<div id="about" class="row py-2">
			<h5>Series</h5>
			{{/* TODO: Set real URL */}}
			<div id="bookSeriesAccordion" hx-get="/ui/book/bookseriesaccordion/{{ .BookData.ID }}" hx-trigger="load" hx-swap="outerHTML" class="d-flex justify-content-center">
				<div class="spinner-border m-5" role="status">
					<span class="visually-hidden">Loading...</span>
				</div>
			</div>
		</div>
	</div>
	<div id="newsFeed" class="col px-3">
		<div class="d-flex justify-content-between align-items-center mb-3">
			<h3>{{ .BookData.Title }}</h3>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Edit</button>
				<ul class="dropdown-menu">
					<li>
						<a
							hx-get="/ui/{{ .BookData.ID }}/edit/addAuthor"
							hx-target="#modals-here"
							data-bs-toggle="modal"
							data-bs-target="#modals-here"
							class="dropdown-item">
							Add Author
						</a>
					</li>
				</ul>
			</div>
		</div>
		<h5>
			{{- $length := len .BookData.Authors -}}
				{{- range $index, $author := .BookData.Authors -}}
				{{- if lt $index (sub $length 1) -}}
					{{ $author.Name }};
				{{- else -}}
					{{ $author.Name }}
				{{- end -}}
			{{- end -}}
		</h5>
		{{ paragraphify .BookData.Description }}
		{{/* TODO: Make Bibliography section collapse */}}
		<h4>Editions</h4>
		<div id="authorBooks">
			<div class="card mb-3">
				<div class="card-body">
					<h5 class="card-title">Norwegian</h5>
					<p class="card-text">Placeholder text, please ignore.</p>
				</div>
			</div>
			<div class="card mb-3">
				<div class="card-body">
					<h5 class="card-title">English</h5>
					<p class="card-text">Placeholder text, please ignore.</p>
				</div>
			</div>
		</div>
		<h4>Reviews</h4>
		{{/* TODO: Make Series section collapse */}}
		<div id="authorSeries">
			<div class="card mb-3">
				<div class="card-body">
					<h5 class="card-title">Best Book Ever</h5>
					<p class="card-text">Placeholder text, please ignore.</p>
				</div>
			</div>
			<div class="card mb-3">
				<div class="card-body">
					<h5 class="card-title">Fallen off hard</h5>
					<p class="card-text">Placeholder text, please ignore.</p>
				</div>
			</div>
		</div>
	</div>
</div>
{{ end }}
