{{ block "content" . }}
<h1>My Library</h1>

{{/* TODO: Add date picker for published and added dates */}}
<form>
	<div class="row">
		<div class="col-md-4">
			<div class="mb-3">
				<label for="authorDatalist" class="form-label">Author</label>
				<input class="form-control" list="authorDatalistOptions" id="authorDatalist" placeholder="Type to search...">
				<datalist id="authorDatalistOptions">
					<option value="Brandon Sanderson">
					<option value="Steven Erikson">
					<option value="Tolkien">
					<option value="George Martin">
					<option value="Ursula">
				</datalist>
			</div>
		</div>
		<div class="col-md-4">
			<div class="mb-3">
				<label for="seriesDatalist" class="form-label">Series</label>
				<input class="form-control" list="seriesDatalistOptions" id="seriesDatalist" placeholder="Type to search...">
				<datalist id="seriesDatalistOptions">
					<option value="Stormlight Archives">
					<option value="Mistborn">
					<option value="Malazan: Book of the Fallen">
					<option value="Lord of the Rings">
					<option value="Warhammer 40K">
				</datalist>
			</div>
		</div>
		<div class="col-md-4">
			<div class="mb-3">
				<label for="genreDatalist" class="form-label">Genre</label>
				<input class="form-control" list="genreDatalistOptions" id="genreDatalist" placeholder="Type to search...">
				<datalist id="genreDatalistOptions">
					<option value="Science Fiction">
					<option value="Fantasy">
					<option value="Grim Dark">
					<option value="Romance">
					<option value="Politics">
				</datalist>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="mb-3">
				<label for="statusSelect" class="form-label">Status</label>
				<select class="form-select" id="statusSelect" aria-label="Status select example">
					<option value="all" selected>All</option>
					<option value="wantToRead">Want to Read</option>
					<option value="read">Read</option>
					<option value="reading">Reading</option>
				</select>
			</div>
		</div>
		<div class="col-md-6">
			<div class="mb-3">
				<label for="ratingsSelect" class="form-label">Ratings</label>
				<select class="form-select" id="ratingsSelect" aria-label="Ratings select example">
					<option value="all" selected>All</option>
					<option value="overwhelminglyPositive">Overwhelmingly Positive</option>
					<option value="mostlyPositive">Mostly Positive</option>
					<option value="mixed">Mixed</option>
					<option value="mostlyNegative">Mostly Negative</option>
					<option value="overwhelminglyNegative">Overwhelmingly Negative</option>
				</select>
			</div>
		</div>
	</div>
	<div class="row py-4">
		<button type="button" class="btn btn-primary">Search</button>
	</div>
</form>

<div hx-get="/ui/librarybooklist" hx-trigger="load" hx-swap="outerHTML" class="d-flex justify-content-center">
	<div class="spinner-border m-5" role="status">
		<span class="visually-hidden">Loading...</span>
	</div>
</div>
{{ end }}
